@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);html,
body {
  font-family: 'Lato', sans-serif !important;
  /*height: 100%;*/
}

body {
  /*display: flex;
    align-self: center;
    align-items: center;*/
}

._m-btm-0 {
  margin-bottom: 0 !important;
}

._v-btm {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.input-field .prefix {
  font-size: 1.5rem;
  top: 1rem;
}

._main-holder {
  width: 100%;
  margin-top: 3vh;
  overflow-x: hidden;
}

._main-content {
  padding-top: 10px;
}

._title-main {
  font-weight: 300;
  font-size: 4rem;
  position: relative;
  display: inline-block;
}

._title-main ._title-fs-holder:hover ._title-fs {
  color: #0ea1a8;
}

._title-main span._title-fs {
  font-weight: 900;
  -webkit-transition: 0.12s ease-out;
  transition: 0.12s ease-out;
}

._title-main span._title-fs:first-child {
  color: #535353;
}

._title-main span._title-fs:nth-child(2) {
  color: #44598f;
}

._title-main span._title-fs span {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}

._title-main span._title-tk {
  padding-left: 30px;
}

._title-main span._title-tk:before {
  content: "";
  position: absolute;
  border-left: 1px solid #aaa;
  top: -10%;
  bottom: -10%;
  margin-left: -15px;
}

._form-label {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-bottom: 3px;
}

#tk-input-date {
  font-size: 22px;
}

._entries-holder ._action-btns {
  position: absolute;
  top: -20px;
  right: -20px;
}

._entries-holder ._action-btns:hover .btn-floating {
  margin-left: 2px;
}

._entries-holder ._action-btns .btn-floating {
  margin-left: -20px;
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

._entries-holder .row:last-child {
  margin-bottom: 0;
}

.noUi-horizontal {
  height: 9px;
}

.noUi-horizontal .noUi-handle {
  width: 23px;
  height: 23px;
  top: -7px;
  left: -8px;
  right: 3px !important;
}

.noUi-horizontal .noUi-tooltip {
  display: none !important;
}

._entries-holder .select2-container {
  margin-left: 3rem;
  width: calc(100% - 3rem) !important;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: none;
  background: #eee;
  padding: 10px 0;
  height: auto;
}

.input-field input[type=search]:focus:not(.browser-default) {
  background: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 11px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border-bottom: 1px solid #9e9e9e;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: none;
  border-bottom: 1px solid #26a69a;
}

.select2-dropdown {
  border: none;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #26a69a;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #000;
  font-size: 16px;
}

.select2-search--dropdown {
  padding: 4px 8px;
}

.sidenav {
  width: 260px;
}

